export(calc_prebs)
importClassesFrom(GenomicRanges,GRanges)
importClassesFrom(IRanges,IRanges)
importFrom(GenomicAlignments,readGAlignmentPairs)
importFrom(GenomicAlignments,readGAlignmentsFromBam)
importFrom(affy,getCdfInfo)
importFrom(affy,xy2indices)
importFrom(methods,setClass)
importFrom(methods,setMethod)
importFrom(parallel,parLapply)
importFrom(stats,optim)
importMethodsFrom(IRanges,countOverlaps)
importFrom(RPA,rpa)
